@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fontsize-primaria: 
}

* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    background-color: #2B3467;
    color: #FCFFE7;
}

.cabecalho{
    padding:1% 0% 1% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 4em;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}

.apresentacao__index {

    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    zoom: 90%;
}

.apresentacao__about {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.título-destaque {
    color: #BAD7E9;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegaçao {
    display:flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegaçao:hover{
    background-color: #073b4c;
}

.apresentacao__imagem{
    width: 50%;
}

.apresentacao__curriculo__nome{
    text-align: center;
    padding: 2% 1% 0% 0%;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__curriculo__padrão{
    padding: 2% 0% 0% 2%;
    font-size: 1.125rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__curriculo__formacao{
    padding: 2% 0% 0% 10%;
    font-size: 1.375rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__curriculo__experiencia{
    padding: 2% 0% 0% 10%;
    font-size: 1.375;
    font-family: var(--fonte-primaria);
}


.apresentacao__curriculo__qualif{
    padding: 2% 0% 0% 10%;
    font-size: 1.375rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__curriculo__qualif__descr{
    padding: 2% 0% 3% 2%;
    font-size: 1.125rem;
    font-family: var(--fonte-secundaria);
}

.rodape{
    padding: 24px;
    color: #f6f6f6;
    background-color:#023e8a;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 984px){
    .cabecalho{
        padding: 10%;
    }

    .apresentacao__curriculo{
        padding: 5%;
        width: auto;
    }

    .cabecalho__menu{
        justify-content: center;
        padding: 0%;
        gap: 2em;
    }
    .apresentacao__index, .apresentacao__about{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__curriculo__nome{
        padding: 1% 0% 3% 0%;
        text-align: center;
    }

    .apresentacao__curriculo__formacao, .apresentacao__curriculo__experiencia, .apresentacao__curriculo__padrão, .apresentacao__curriculo__qualif {
        padding: 2% 2%;
        text-align: center;
    }

    .apresentacao__curriculo__padrão {
        text-align: left;
    }

    .apresentacao__links__navegaçao {
        width: 30%;
    }
}

@media (max-width: 587px){
    .apresentacao__links__navegaçao {
        width: 50%;
    }
}

@media (max-width: 334px){
    .cabecalho__menu{
        justify-content: center;
        padding: 0%;
        gap: 0.5em;
    }

    .apresentacao__links__navegaçao {
        width: 70%;
    }
}